@charset "UTF-8";
/* Style the top navigation bar */
a:link, a:visited {
	color: #add8e6;
}

body,html{
	overflow-x:hidden;
	min-width:375px;
}
body{
margin:0;
height:200%;
}
.navbar {
display: flex;
background-color: #333;
position:sticky;
top:0;
margin:0;
flex-wrap:wrap;
width:100%;
}
/* Style the navigation bar links */
.navbar a {
color: white;
padding: 14px 20px;
text-decoration: none;
text-align: center;
}
/* Change color on hover */
.navbar a:hover {
background-color: #ddd;
color: black;
}
.firstCaption {
background-color: black;
color: white;
font-style: italic;
padding: 2px;
text-align: center;
width:80%;
margin:auto;
}
#backgroundOne img{
display:flex;
margin:auto;
padding-top: 2%;
}

#Intro{
display:flex;
flex-wrap:wrap;
background-color:black;
justify-content:space-evenly;
align-items:center;
color:white;
width:100%;
padding: 30px 0px;
}

article {
	background: black;
	flex-direction: column;
	width: 100%;
	color:white;
	width:100%;
	padding: 30px 10px;
}

article div#imgSection {
	width: 50%;
	float: left;
}

article figure {
	padding: 10px;
	font-family: monospace;
	font-size: 1.2em;
}

article div#imgSection figure img {
	width: 85%;
	border-radius: 20px;
}

article div#imgSection figcaption {
	text-align: center;
}

article p {
	font-size: 1.1em;
	line-height: 1.5em;
}

article section#rightParagraph {
	float: left;
	width: 35%;
	padding-top: 2px;
	line-height: 1.4em;
}

article section#rightParagraph h2 {
	margin-bottom: 8px;
}

article section#steps {
	clear: both;
	width: 95%;
	margin: auto;
	padding: 10px;
	line-height: 1.5em;
	border-radius: 5%;
}

article section#steps li {
	list-style: decimal;
	margin-top: 25px;
}

article section::after {
	clear: both;
	content: "";
	display: table;
}

article h2 {
	text-decoration: underline;
	font-size: 1.6em;
}

li {
	font-size: 1.2em;
}

.editIcon{
background-color:white;
width:150px;
height: 150px;
}

figure img {
	display: block;
	margin: auto;
}

figcaption{
font-size:15px;
}

#secondSlide{
display:flex;
flex-wrap:wrap;
background-color: #333;
justify-content:space-evenly;
align-items:center;
color:white;
width:100%;
padding: 30px 0px;
}

section img {
	float: left;
	width: 50%;
	height: 300px;
	margin-bottom: 25px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
	flex:100%;
}