@charset "utf-8";
* {
  box-sizing: border-box;
}
body{
margin:0;
}
#sky{
	z-index:-1;
	position: relative;
	left:20%;
}
.container{
	display:flex;
	flex:100%;
	height:100%;	
	flex-direction:row;
	flex-wrap:wrap;
	
}
.mainSide{
	flex:80%;
	background-color: rgba(144,238,144,0.009);
}
.navSide{
	flex:20%;
	background-color: rgba(51, 172, 255);
}
.fontStyler{
	 font-family: 'Holtwood One SC', serif;
	 font-size:20px;
	 color:#337DFF; 
	 text-align:center;
	padding-top:20%;
	
	letter-spacing:0.1em;
	
}
.fontStyler p{
	font-family: 'Times New Roman', serif;
	color:black;
	font-size:25px;
}

.navigationBar{

	list-style:none;
	
	color:white;
	line-height:40px;
	font-size: 20px;	
	padding-top:100%;
	margin:0;
}

.navigationBar a{
	color:white;
	font-size:25px;
	text-decoration:none;
	
	padding-left:10%;
	margin-left:-14%;	
}		
.navigationBar a:hover{
	display:block;
	font-size:27px;
	text-decoration:underline;
	padding-left:10%;
	margin-left:-14%;	
	background-color:#1F75FE;
}

.blue-btn a{
  color: white;
  text-decoration:none;
  text-align: center;
  display:block; 
  
}

.blue-btn, .first-link{
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;     
}


.blue-btn{
  height: 64px;
  font: normal normal 700 1em/4em Arial,sans-serif;
  overflow: hidden;
  width: 200px;
  background-color: rgba(51, 172, 255);
  border-radius: 20px;
  position: relative;
  margin:auto;
}

.blue-btn:hover{
   background-color: #003D60;
  
}

.blue-btn a:hover{
  text-decoration: none;
}

.first-link{
  margin-top: 0em;   
}

.blue-btn:hover .first-link{
  margin-top: -2.7em;
}